<div style="padding: 20px;">
  <ul class="nav nav-tabs" id="myTab">
    <li><a data-toggle="tab" href="#info">Info Book</a></li>
    <li><a data-toggle="tab" href="#reader">Read it</a></li>
  </ul>
  <div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <div class="row" >
          <div class="col-md-4">
            <h1><%= @book.name %></h1><br>by <%= @book.author %><br>
            About the book :<br><h4><%= @book.desc %></h4><br>
            <% unless current_user.nil? %>
              <h3>Reviews of <em><%= @book.title %></em></h3>
              <% unless current_user.added? @book %>
                <%= form_for (current_user.libraries.build) do |f| %>
                  <%= hidden_field_tag :user_id, current_user.id %>
                  <%= hidden_field_tag :book_id, @book.id %>
                  <%= hidden_field_tag :view_times, 0 %>
                  <%= f.submit 'ADD LIBRARY', class:"btn btn-warning" %>
                <% end %>
              <% else %>
                <%= link_to "REMOVE LIBRARY", "#", class:"btn btn-primary" %>
              <% end %>
              <% @book.reviews.each do |review| %>
                <p><%= review.text %></p>
                <p><%= review.rating_out_of_ten %>/10</p>
                <small>- <%= review.user.email %> -- <%= link_to "edit", edit_book_review_path(@book) %></small><br/>
              <% end %>
              <p><%= link_to "Write a review!", new_book_review_path(@book) %></p>
            <% else %>
              <p>Please <%= link_to "log in", new_user_session_path %> to see reviews and add your own.</p> 
            <% end %>
          </div>
          <div class="col-md-4">
            <%= image_tag(@book.image, alt: @book.name, class: "image_info-book") %>
          </div>
      </div>
    </div>
    <div id="reader" class="tab-pane fade" style="height: 500px;overflow: scroll;">
      <p><%= read_book @book %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){ 
    $("#myTab li:eq(0) a").tab('show');
  });
</script>
